body {
  --buttonHoverColor: rgb(0, 129, 158);
  --buttonSelectedColor: rgba(15, 83, 168, 0.3);
  --backgroundColor: rgb(3, 4, 10);
  --secondBackgroundColor: rgb(11, 12, 17);
  --selectedColor: rgb(81,211,239);


  background-color: var(--backgroundColor);
  padding: 0;
  margin: 0;
}

