body {
  --allAgentFontSize: 2em;
}

.load{
  width:100%;
  height:100%;
  background-color: var(--backgroundColor);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 1s linear;
  position:fixed;
  z-index:9999;
}

.vanish {
  opacity: 0;
  visibility: hidden;
}

.halfVanished {
  visibility: visible;
  opacity: 1;
  background-color: rgba(3, 4, 10, 0.75);
}

.removeItem {
  display: none;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 4, 10, 0.75);
  z-index: 1000;
  transition: all 0.5s ease-out;
}

.alert button {
  width: 60%;
  height: 30%;
  border-radius: 25px;
  color: white;
  font-family: var(--font-Quicksand-Light);
  cursor: pointer;
  background-color: var(--secondBackgroundColor);
  padding: 1%;
  box-shadow: 0 0 5px white;
  width: 50%;
  border: 0;
  font-size: var(--allAgentFontSize);
  position: relative;
  transition: all 0.5s ease-out;
}

.alert button:hover {
  background-color: var(--buttonHoverColor);
}

.noAlert {
  opacity: 0;
  visibility: hidden;
}

.navBar {
  width: 100%;
  margin-top: -1px;
  margin-bottom: 0;
  position: fixed;
  border: solid 0.1px white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 3px 3px 5px rgba(255, 255, 255, 0.3);
  background-color: var(--backgroundColor);
  z-index: 10;
}
  
.navBar ul {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center ;
  justify-content: flex-end;
}
  
.navBar li {
  height: 55px;
  border-radius: 10px;
}
  
.navBar .lastLi {
  border-bottom-right-radius: 10px;
}
  
.navBar li:first-child {
  margin-right: auto;
}
  
.navBar .icon {
  margin-top: 2px;
  width: 50px;
  border-radius: 10px;
  color: white;
}
  
.navBar h1 {
  margin: 0;
  height: 100%;
  padding: 0 25px;
  display: flex;
  align-items: center;
  color: white;
  font-size: 2rem;
  border-left: 1px solid white;
  font-family: var(--font-Quicksand-SemiBold);
  transition: all 0.5s;
  pointer-events: painted;
}
  
.navBar h1:hover {
  background-color: var(--buttonHoverColor);
  cursor: pointer;
}

.blue {
  background-color: var(--buttonSelectedColor);
}

.navBar a {
  text-decoration: none;
}

.agentManager {
  width: 80%;
  height: 80%;
  top: 10%;
  left: 10%;
  border-radius: 10px;
  box-shadow: 0 0px 5px white;
  position: absolute;
  display: flex;
  flex-flow: column;
  background-color: var(--secondBackgroundColor);
}

.agentManager header {
  width: 100%;
}

.agentManager header button {
  cursor: pointer;
  background-color: var(--backgroundColor);
  padding: 1%;
  box-shadow: 0 0 5px white;
  width: 50%;
  border: 0;
  color: white;
  font-family: var(--font-Quicksand-Regular);
  font-size: var(--allAgentFontSize);
  position: relative;
  transition: all 1s ease-out;
}

.agentManager header button:hover {
  background-color: var(--buttonHoverColor);
}

.agentManager .logInButton {
  border-top-left-radius: 10px;
}

.agentManager .signInButton {
  border-top-right-radius: 10px;
}

.whatsNow {
  background-color: var(--secondBackgroundColor) !important;
  box-shadow: none !important;
  pointer-events: none;
}

.signInNotChosen {
  border-bottom-left-radius: 10px;
  z-index: 100 !important;
}

.logInNotChosen {
  border-bottom-right-radius: 10px;
  z-index: 1;
}

.agentManager .userInfo {
  width: 100%;
  height: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  align-content: center;
  justify-items: center;
  font-family: var(--font-Quicksand-Regular);
  color: white;
}

.agentManager .userInfo h1 {
  top: 0;
  margin-bottom: 0;
  height: 1.5em;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.agentManager .userInfo div {
  width: 80%;
  transition: all 0.25s ease-in;
  margin-top: 1.5em;
}

.agentManager .userInfo h2 {
  margin-bottom: 3px;
  margin-top: 0;
  transition: all 0.5s ease-out;
  pointer-events: none;
}

.agentManager .userInfo .textInput {
  cursor: pointer;
  background-color: var(--secondBackgroundColor);
  border: 0;
  width: 95%;
  color: white;
  box-shadow: 0 0 5px white;
  font-size: 2em;
  border-radius: 10px;
  font-family: var(--font-Quicksand-Regular);
  background-color: var(--backgroundColor);
  text-indent: 2.5px;
  padding: 1%;
}

::-ms-reveal {
  filter: invert(100%);
}

.red {
  color: crimson;
}

.agentManager .userInfo div:hover {
  transform: scale(1.025);
}

.agentManager .userInfo div:hover h2 {
  text-shadow: 0 0 10px white;
}

.agentManager .userInfo div:hover .textInput {
  box-shadow: 0 0 10px white;
}

.agentManager .sender {
  margin-top: auto;
  bottom: 0;

  cursor: pointer;
  background-color: var(--secondBackgroundColor);
  padding: 1%;
  box-shadow: 0 0 5px white;
  width: 100%;
  height: 2em;
  border: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  color: white;
  font-family: var(--font-Quicksand-Regular);
  font-size: var(--allAgentFontSize);
  transition: all 1s ease-out;
}

.agentManager .sender:hover {
  background-color: var(--buttonHoverColor);
}

.forgot {
  bottom: 1%;

  width: 100%;
  text-align: center;
  font-family: var(--font-Quicksand-Bold);
  position: absolute;
  display: flex;
  flex-flow: column;
  justify-items: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.forgot a {
  color: white;
  text-decoration: none;
}


.forgot .line {
  width: 0;
  height: 1px;
  transition: all 1s ease-in-out;
  background-color: white;
}

.forgot:hover .line {
  width: 12.5em;
}

@media (max-width: 1065px) {
  .navBar h1 {
    font-size: 1.75em;
  }

  .agentManager .userInfo .textInput {
    font-size: 1.5em;
  }
}

@media (max-width: 975) {
  .navBar h1 {
    font-size: 1.5em;
    padding: 0 15px;
  }
}

@media (max-width: 780) {
  body {
    --allAgentFontSize: 1.5em;
  }

  .agentManager .userInfo h1 {
    font-size: 1.75em;
  }

  .navBar h1 {
   font-size: 1.25em;
   padding: 0 15px;
  }
}

@media (max-width: 690) {
  body {
    --allAgentFontSize: 1.25em;
  }

  .navBar h1 {
    font-size: 1em;
    padding: 0 10px;
  }
}

@media (max-width: 545) {
  .navBar h1 {
    font-size: 1em;
    padding: 0 5px;
  }
}

@media (max-width: 495) {
  .navBar h1 {
    font-size: 0.875em;
    padding: 0 5px;
  }

  .agentManager .userInfo .textInput {
    font-size: 1.15em;
  }
}

@media (max-width: 450) {
  .special {
    display: none;
  }

  .agentManager .userInfo h1 {
    margin-bottom: 5%;
  }

  .agentManager .userInfo .textInput {
    font-size: 1.25em;
  }
  
  .navBar h1 {
    font-size: 1.25em;
    padding: 0 15px;
  }
}